body {
    margin: 0;
    background-color: #F4F4F4;
    color: #6943FF;
}

#title {
    font-weight: 700;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #6943FF;
    color: #FFFFFF;
}

#convbutton {
    padding: 10px 45px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
    color: #3D3D3D;
    background-color: #FFFFFF;
    border: solid #FFFFFF 1px;
    border-radius: 5px;
}

#inputnumber {
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    appearance: textfield;
    text-align: center;
    width: 150px;
    height: 100px;
    background-color: #6943FF;
    border: solid #B295FF 2px;
    border-radius: 5px;
    color: #FFFFFF;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #5A537B;
    font-size: 14px;
}

.length {
    background-color: #FFFFFF;
    margin: 15px;
    text-align: center;
    width: 540px;
    height: 100px;
}
.volume {
    background-color: #FFFFFF;
    margin: 15px;
    text-align: center;
    width: 540px;
    height: 100px;
}
.mass {
    background-color: #FFFFFF;
    margin: 15px;
    text-align: center;
    width: 540px;
    height: 100px;
}